.sidebar-nav
  %ul.share-buttons
    %li
      %a{href: "https://www.facebook.com/sharer/sharer.php?u=#{Nesta::Config.domain+request.path}", target: "_blank"}
        %img{src: "images/simple_icons/Facebook.png"}/
    %li
      %a{href: "https://twitter.com/intent/tweet?url=#{Nesta::Config.domain+request.path}&text=#{@title}%20-%20&via=#{Nesta::Config.twitter}", target: "_blank", title: "Tweet"}
        %img{src: "images/simple_icons/Twitter.png"}/
    %li
      %a{href: "https://plus.google.com/share?url=#{Nesta::Config.domain+request.path}", target: "_blank", title: "Share on Google+"}
        %img{src: "images/simple_icons/Google.png"}/
    %li
      %a{href: "http://www.reddit.com/submit?url=#{Nesta::Config.domain+request.path}&title=#{@title}", target: "_blank", title: "Submit to Reddit"}
        %img{src: "images/simple_icons/Reddit.png"}/
    %li
      %a{href: "http://www.linkedin.com/shareArticle?mini=true&url=#{Nesta::Config.domain+request.path}&title=#{@title}&source=http://#{request.host}#{request.path}", target: "_blank", title: "Share on LinkedIn"}
        %img{src: "images/simple_icons/LinkedIn.png"}/

  -#- if Nesta::Config.sharethis || Nesta::Config.twitter
    -#%center.well
      -#- if Nesta::Config.sharethis
        -#= sharethis_buttons
      -#- if Nesta::Config.twitter
        -#%span.st_twitterfollow_large{:displayText=>'Twitter Follow', :st_username=>Nesta::Config.twitter}

  - unless @page.pages.empty? || @page.flagged_as?('landing_page');
    .list-group
      %a.list-group-item.active{:href=>"#"}
        %h4.list-group-item-heading More on This
      - @page.pages.each do |page|
        %a.list-group-item{:href=>page.abspath}= page.title

  .list-group
    %a.list-group-item.active{:href=>Nesta::Config.author['uri']}>
      %h4.list-group-item-heading= Nesta::Config.author['name']
    - Nesta::SOCIAL.keys.each do |name|
      - value = Nesta::Config.send(name.to_sym)
      - if value
        %a.list-group-item{:href=>Nesta::SOCIAL[name]+value}= name.capitalize

